<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login | Hotel Facile</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="shortcut icon" href="/facile.png" type="image/x-icon">
</head>

<body>

<h2>Iniciar Sesión</h2>

<form th:action="@{/login}" method="post">
    <label>Cédula</label>
    <input type="text" name="username" required>

    <label>Contraseña</label>
    <input type="password" name="password" required>

    <button type="submit">Entrar</button>
</form>


<p th:if="${param.error}">Usuario o contraseña incorrectos</p>
<p th:if="${param.logout}">Sesión cerrada correctamente</p>

</body>
</html>
